.App-header {
	background-color: #222;
	height: 100%;
	padding: 20px;
	color: white;
}

.Title-container {
	margin-bottom: 5em;
}

.Header-title {
	font-size: 2.5em;
	/*margin-bottom: 2em*/
}

.Header-description {
	font-size: 2em;
}